
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Reset Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="New Password" [(ngModel)]="New-Password" name="New-Password" required>
             </mat-form-field> 
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Confirm New Password" [(ngModel)]="ConfirmNewPassword" name="Confirm-Password" required>
              </mat-form-field>
            </td> 
          </tr> 
      </table>  
      </form>
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="reset()" color="primary">Change Password</button>
    </mat-card-actions>
  </mat-card> 
  