<div class="example-card">
    <mat-card-header>
        <mat-card-title>My Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="example-container">
            <mat-form-field>
                User Name: Sindhu
            </mat-form-field><br>
            <mat-form-field>
                Email Id: sindhu@gmail.com
            </mat-form-field><br>
            <mat-form-field>
                City:
            </mat-form-field><br>
            <mat-form-field>
                Contact Number:
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)=edit()>Edit</button>
    </mat-card-actions>
</div>