<app-header1></app-header1>
<div class="example-card">

      <mat-card-header>
        <mat-card-title>Designer Profile</mat-card-title>
      </mat-card-header>



            <mat-card-content>
              <br>
              <div class="example-container">
                <h6>User Name: {{designer.name}} <br> </h6>

                <h6>Email Id: {{designer.email}} <br></h6>

                <h6>City: {{designer.location}} <br></h6>

                <h6>Contact Number: {{designer.designation}} <br></h6>
              </div>
     </mat-card-content>


    <mat-card-actions>
        <button mat-raised-button color="primary" (click)=openDialog()>Edit</button>
    </mat-card-actions>
</div>
