<!-- <mat-card class="example-card" *ngFor = "let orders of orderlist | slice :9; let i =index;">
        <mat-card-header>
          <mat-card-title>Add price to Design</mat-card-title>
        </mat-card-header>

        <mat-card-content>
    
    
   
    
          <p>{{orders}}</p>
        
        <mat-form-field>
          <input type="number" matInput placeholder="price" [(ngModel)]="data.price">
        </mat-form-field>
    
        <mat-form-field>
            <input type="number" matInput placeholder="discount percentage (%)" [(ngModel)]="data.discount" >
          </mat-form-field>
          <mat-form-field>
              <input type="number" matInput placeholder="profit percentage (%)" [(ngModel)]="data.profit" >
            </mat-form-field>
            <mat-form-field>
                <input type="number" matInput placeholder="Quality Of Design" [(ngModel)]="data.QuantityOfDesign" >
              </mat-form-field>
    <p>
          <!-- <button mat-button (click)="onClick()">Browse
            <mat-icon>file_upload</mat-icon>
            {{text}}
            </button> -->
            <!-- <input type="file" placeholder="file" [(ngModel)]="data.design_img"> -->
        <!-- </p> -->
      
    
      <!-- </mat-card-content> -->
      <!-- <mat-card-actions> -->
            <!-- <button mat-raised-button color="Primary" [mat-dialog-close]="data" cdkFocusInitial>upload</button> -->
            <!-- <button mat-raised-button color="Primary" [mat-dialog-close]="data" cdkFocusInitial (click)="nextStep()">Upload</button> -->
            <!-- <button mat-raised-button (click)="onNoClick()" color="primary">Sign-up</button> -->
        <!-- <a style="margin-left: 10px" routerLink="/login"> -->
        <!-- <button mat-raised-button (click)="onNoClick()" color="primary">cancel</button> -->
    
       
      <!-- </mat-card-actions> -->
      
      
      <!-- </mat-card> -->
      
      <div class="cardList">

          
          <mat-card class="card-picture" *ngFor="let designs of data | slice :9; let i =index;">
            <mat-card-header>
              
              <mat-card-title>Designs</mat-card-title>
              
            </mat-card-header>
           
            <mat-card-content>
              <p>
                Manufacturer Name: {{designs.designOrder.name}}
              </p>
              <p>
               {{data.id}}
              </p>
              <mat-form-field>
                  <input type="number" matInput placeholder="discount percentage (%)" [(ngModel)]="data.discount" >
                </mat-form-field>
                <mat-form-field>
                    <input type="number" matInput placeholder="profit percentage (%)" [(ngModel)]="data.profit" >
                  </mat-form-field>
                  <mat-form-field>
                      <input type="number" matInput placeholder="Quality Of Design" [(ngModel)]="data.QuantityOfDesign" >
                    </mat-form-field>
             <button mat-button >save</button>
            </mat-card-content>
            </mat-card>
            </div>