<div class="visible-header">
  <mat-menu #dd="matMenu" [overlapTrigger]="false">
    <div (click)="cancelClick($event)" class="dropdown"><br>
      <button mat-button color="primary"><a  routerLinkActive="active" (click)="viewProfile()">View Profile</a></button><br>

      <button mat-button color="primary"><a routerLink="/vieworders" routerLinkActive="active">View Previous orders</a></button>
      <mat-divider></mat-divider>
      <button mat-button color="primary"><a routerLink="/logout" routerLinkActive="active" >Logout</a></button>
    </div>
  </mat-menu>

  <div>
    <mat-toolbar class="header">
      <mat-toolbar-row>
        <!--      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>-->
        <!--        <mat-icon>menu</mat-icon>-->
        <!--      </button>-->
        <img src="assets/logo.png" width="90" height="80" class="d-inline-block align-top" alt="App Logo">
        <span class="title">TrendMode</span>
        <span class="spacer"></span>
        <span>
          <mat-form-field>
            <input #searchText matInput placeholder="Search for products">
          </mat-form-field>
          <button mat-icon-button aria-label="icon-button with a search icon" (click)="search(searchText.value)">
            <mat-icon>search</mat-icon>
          </button>
        </span>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a routerLink="/suppliers" routerLinkActive="active" ><button mat-stroked-button>Home</button></a>
        <button mat-stroked-button #ddTrigger="matMenuTrigger" [matMenuTriggerFor]="dd">
          Profile <i _ngcontent-fnv-c19="" class="material-icons icon-image-preview">arrow_drop_down</i></button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>
<div class="dummy">
  <mat-menu #dd="matMenu" [overlapTrigger]="false">
    <div (click)="cancelClick($event)" class="dropdown"><br>
      <button mat-button color="primary"><a  routerLinkActive="active" (click)="viewProfile()">View Profile</a></button><br>

      <button mat-button color="primary"><a routerLink="/vieworders" routerLinkActive="active">View Previous orders</a></button>
      <mat-divider></mat-divider>
      <button mat-button color="primary"><a routerLink="/logout" routerLinkActive="active" >Logout</a></button>
    </div>
  </mat-menu>

  <div>
    <mat-toolbar class="header">
      <mat-toolbar-row>
        <!--      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>-->
        <!--        <mat-icon>menu</mat-icon>-->
        <!--      </button>-->
        <img src="assets/logo.png" width="90" height="80" class="d-inline-block align-top" alt="App Logo">
        <span class="title">TrendMode</span>
        <span class="spacer"></span>
        <span>
          <mat-form-field>
            <input #searchText matInput placeholder="Search for products">
          </mat-form-field>
          <button mat-icon-button aria-label="icon-button with a search icon" (click)="search(searchText.value)">
            <mat-icon>search</mat-icon>
          </button>
        </span>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a routerLink="/suppliers" routerLinkActive="active" ><button mat-stroked-button>Home</button></a>
        <button mat-stroked-button #ddTrigger="matMenuTrigger" [matMenuTriggerFor]="dd">
          Profile <i _ngcontent-fnv-c19="" class="material-icons icon-image-preview">arrow_drop_down</i></button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>

<div class="content">
  <mat-card>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Enter the name of the material" #name>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="number" matInput placeholder="Enter the price per unit" #price>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="number" matInput placeholder="Enter the quantity" #quantity>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select the Category</mat-label>
        <select matNativeControl id="mySelectId" #category>
          <option value="" disabled selected></option>
          <option value="jewellery">Jewellery</option>
          <option value="clothing">Clothing</option>
          <option value="footware">Footware</option>
        </select>
      </mat-form-field>

      <div class="example-button-row">
        <button mat-raised-button color="primary"
          (click)="submit(name.value,price.value,quantity.value,category.value)">Submit</button>
      </div>
    </form>
  </mat-card>
</div>
<div class="cardList">
  <!-- <mat-card class="card-picture" *ngFor="let designs of orderlist"> -->
  <mat-card class="card-picture" *ngFor="let map of mapping">
    <mat-card-header>
      <mat-card-title>
        {{map.material.name}}
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content><br/>
      <p>
        Category: {{map.material.category}}
      </p>

      <p>Rating</p>
    </mat-card-content>
  </mat-card>
</div>
