.tp-card {
    width: 300px;
    margin: 50px 50px 50px 50px;
    min-width: 100px;
       background-color: white;
          border-style: outset;
  }

  .tp-header-image {
    background-image: url('https://startupfashion-startupfashion.netdna-ssl.com/wp-content/uploads/2016/01/fabric-sourcing-fashion-designers.jpg');
    background-size: cover;
  }
  .flex
  {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
     /* margin-bottom: 100px;*/
     /* margin-top: 15%;*/
          background-image: url("/assets/clothes.jpg");
              height: 100%;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              width:100%;
              padding-top: 100px;
  }
  footer {
    position: fixed;
   height: fit-content;
    bottom: 0;
    width: 100%;
    background-color: khaki;
    color: black;
    overflow: hidden;

}

img {
    padding-left: 5px;
    float: right;
    height: 40px;
    width: 40px;
}
mat-toolbar{
    width:100%;
    height: min-content;
    position: fixed;
    top:0;
    z-index: 1030;
    left: 0;
    right: 0;
    background-color: black;
    padding: 10px;
    padding-left: 5px;

  }
  mat-toolbar-row {
      height: min-content;
      display: flex;
      flex-wrap: wrap;
  }

  .header{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: black;
  color:white;
  }
   .d-inline-block {
   width: 60px;
   height: 60px;
}
.title{
        font-size: 4vh;
        padding-left: 4px;
        /*color: #F4F6F7;*//*color: #F4F6F7;*/
                padding-top: 8px;
                font-family: 'Open Sans', sans-serif;
}
  .spacer {
    flex: 1 1 auto;
  }
  #menu{
      color: white;
  }
  button{
      color: white;
  }
    mat-card-actions{
        padding-left: 65px;
    }
