.tp-card {
    width: 300px;
    margin: 20px 20px 20px 20px;
    min-width: 100px;
  }

  .tp-header-image {
    background-image: url('https://cdn.shopify.com/s/files/1/0916/0836/products/44915_Gibson_SG_112790111_1_220x.jpg?v=1565301688');
    background-size: cover;
  }
  .flex
  {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 100px;
      margin-top: 15%;
  }
  footer {
    position: fixed;
   height: fit-content;
    bottom: 0;
    width: 100%;
    background-color: khaki;
    color: black;
    overflow: hidden;

}

img {
    padding-left: 5px;
    float: right;
    height: 40px;
    width: 40px;
}
