<!-- Footer of the page -->
<!-- <div class="container"> -->
<footer>
     <div>
        <div fxLayout fxLayoutGap="10%">
            <div layout="row" flex style="padding-left: 10%">
                <h6>Our Website</h6>
                <p>sell products</p>
                <p>Subscribe and Review</p>
                <p>About Us</p>
                <p>Investor relations</p>
            </div>
            <div layout="row" flex>
                <h6>FashionRetail</h6>
                <p>Home</p>
                <p>Stock photos</p>
            </div>
            <div layout="row"  flex>
                    <h6>Partners</h6>
                    <p>Developres</p>
                    <p>Suppliers</p>
                    <p>Designers</p>
                    <p>Manufactureres</p>
                    <p>Consumers</p>
                </div>
                <!-- <div fxFlex fxLayout fxLayoutAlign="flex-end"> -->

                        <div fxLayout fxLayoutGap="20px">

                            <div layout="row" layout-align="center center" flex>
                                    <h6>Follow us</h6>
                              <p><a href="https://www.facebook.com/"> <img src="assets/facebook.png" alt="facebook"> facebook </a></p>
                                <!-- <p><img src="assets/tweetter.png" alt="Twitter"> on Twitter</p> -->
                              <p><a href="https://www.instagram.com"><img src="assets/instagram.png" alt="Linked-in"> Instagram </a></p>
                            </div>
                        </div>
                    <!-- </div>    -->
        </div>
    </div>

    <!-- <p>
        For any queries please <a routerLink="contact">contact us</a>
    </p>
    <img src="assets/facebook.png" />
    <img src="assets/instagram.png" /> -->
</footer>
<!-- </div> -->

