.f1{
  padding-left: 200px;
}
footer {
   height: fit-content;
    bottom: 0;
    width: 100vw;
    background:#ffc107;
    /*color: black;*/
    height: auto;
    overflow: hidden;
    overflow-x:hidden;
    overflow-y:hidden;
    padding:20px;
    display: flex;
    flex-wrap: wrap;
}

  .spacer {
    flex: 0.2 0.2 auto;
  }

footer div h5{
    color: black;
}
p, a{
    color: black;
}
img {
    padding-left: 5px;
    float: right;
    height: 40px;
    width: 40px;
}
footer > div {
  margin: 20px;
}

