<!-- Footer of the page -->
<!-- <div class="container"> -->
<footer>
<!--  <div fxLayout fxLayoutGap="10%">-->
    <div>
      <h6>Our Website</h6>
      <p>sell products</p>
      <p>Subscribe and Review</p>
      <p>About Us</p>
      <p>Investor relations</p>
    </div>
  <span class="spacer"></span>
    <div>
      <h6>FashionRetail</h6>
      <p>Home</p>
      <p>Stock photos</p>
    </div>
  <span class="spacer"></span>
    <div>
      <h6>Partners</h6>
      <p>Developers</p>
      <p>Suppliers</p>
      <p>Designers</p>
      <p>Manufacturers</p>
      <p>Consumers</p>
    </div>
    <!-- <div fxFlex fxLayout fxLayoutAlign="flex-end"> -->
  <span class="spacer"></span>
    <div>
      <div layout="row" layout-align="center center" flex>
        <h6>Follow us</h6>
        <p><a href="https://en-gb.facebook.com/login/"><img src="assets/facebook.png" alt="facebook"> on facebook</a>
        </p>
        <!-- <p><img src="assets/tweetter.png" alt="Twitter"> on Twitter</p> -->
        <p><a href="https://www.instagram.com/accounts/login/?hl=en"><img src="assets/instagram.png" alt="Linked-in"> on
          Instagram</a></p>
      </div>
    </div>
    <!-- </div>    -->
<!--  </div>-->

  <!-- <p>
      For any queries please <a routerLink="contact">contact us</a>
  </p>
  <img src="assets/facebook.png" />
  <img src="assets/instagram.png" /> -->
</footer>
<!-- </div> -->

