
footer {
    /* position: fixed; */
   height: fit-content;
    bottom: 0;
    width: 100%;
    background:#ffc107;
    color: black;
    height: auto;
    overflow: hidden;

}
footer div h6{
    color: white;
}
p, a{
    color: white;
}
img {
    padding-left: 5px;
    float: right;
    height: 40px;
    width: 40px;
}
