/*button{
    padding-top: 150px;
    float: right;
}*/
/*.cardList{
    padding-top: 150px;
}*/
.basePriceButton{
  padding-top: 120px;
  float: right;
  margin-right:2%
}

.baseTable{
    padding-top: 200px;
    margin-left: 25%;
}

table th{
    width: 338px;
    height: 100px;
    text-align: center;
}

table tr{
    height: 50px;
}

