.example-container {
    display: flex;
    flex-direction: column;
    /* // margin-top: 5cm; */
  }
  
  .example-container > * {
    width: 100%;
  }
  mat-card{
      max-width: auto;
      width: 20%;
      align-content: center;
      margin-top: 6cm;
      margin-bottom: 3cm;
      margin-left: 35%;
      /* height: 100%; */
  }
  mat-card-actions{
      text-align: center;
  }
  mat-card-actions button{
      max-width: auto;
  }
  mat-divider{
      width:3cm;
  }
  p{
      margin-top: 0.5cm;
  }