.example-container {
    display: flex;
    flex-direction: column;
    /* // margin-top: 5cm; */
  }
#abc{
      background-image: url("/assets/background-fashion-design-2.jpg");
           background-position: center;
           background-repeat: no-repeat;
           background-size: cover;
}

  .example-container > * {
    width: 100%;
  }
  mat-card{
    /* width: 30%;

      align-content: center;
      margin-top: 2cm;
      margin-bottom: 3cm;
      margin-left: 75%;
      padding: 15px 20px 15px 20px;
      border:8px ;
      border-color:solid;*/
      box-shadow: 8px 8px 15px #888888 !important;
      background-color: white;
      border-style: outset;
      max-width: auto;
     width: 20%;
     align-content: center;
     margin-top: 5cm;
     margin-bottom: 3.5cm;
     margin-left: 75%;
     padding: 15px 20px 15px 20px;
            /* height: 100%; */
  }
  mat-card-title
  {
   padding-left: 80px;
  }
  mat-card-actions{
      text-align: center;
  }
  mat-card-actions button{
      max-width: auto;
  }
  mat-divider{
      width:3cm;
  }
  p{
      margin-top: 0.5cm;
  }
  button{
      margin-left: 90%;
      margin-top: 1cm;
  }
  .bg{
    background-image: url("/assets/login.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    display:flex;
  }
/*  #click button{
      background-color: yellow;
  }*/
