
<app-header></app-header>
<!-- <button mat-raised-button (click)="logout()" color="primary">LogOut</button> -->

<div class="bg">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form" [formGroup]="loginForm">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter email" formControlName="username" name="username" required>
              </mat-form-field>
            </td>
          </tr>

          <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Password" formControlName="password" type="password" name="password" required>
          </mat-form-field>
        </td>
        </tr>
</table>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button (click)="loginUser()" color="primary">Login</button>
    </mat-card-actions>
    <p class="para"> For creating New Account <a routerLink="/sign-up">Sign-Up</a></p>

    <!-- <mat-card-actions>
      <button mat-raised-button color="primary">Sign up</button>
    </mat-card-actions> -->

    <mat-card-actions id="click">
      <p>Forgot password?</p>
      <button mat-raised-button [routerLink]="['/forgotpassword']" color="primary">Click Here</button>
    </mat-card-actions>
  </mat-card>
  </div>
