mat-toolbar{
    width:100%;
    height: 90px;
    position: fixed;
    top:0;
    z-index: 1030;
    left: 0;
    right: 0;
    background-color: black;
    padding: 10px;
    padding-left: 5px;

  }

  .header{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: black;
  }
   .d-inline-block {
   width: 60px;
   height: 60px;
}
.title{
        font-size: 4vh;
        padding-left: 4px;
        color: #F4F6F7;
                padding-top: 8px;
                font-family: 'Open Sans', sans-serif;
}
  .spacer {
    flex: 1 1 auto;
  }
  #menu{
      color: white;
  }
  button{
      color: white;
  }
