<mat-menu #dd="matMenu" [overlapTrigger]="false">
	<div (click)="cancelClick($event)" class="dropdown">
       <button mat-button color="primary">View Profile</button><br>
       <button mat-button color="primary">View Previous orders</button>
       <mat-divider></mat-divider>
       <button mat-button color="primary">LogOut</button>
	</div>
</mat-menu> 

<div>
        <mat-toolbar style="background-color: #f8f9fa!important;">
          <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
              <mat-icon>menu</mat-icon>
            </button>
            <img src="assets/logo.jpeg" width="60" height="60" class="d-inline-block align-top" alt="App Logo">
            <span class="title">Online Fashion Retail</span>
            <span class="example-spacer"></span>
              <span class="spacer"></span>
            <div fxShow="true" fxHide.lt-md="true">
              <!-- The following menu items will be hidden on both SM and XS screen sizes -->
              <button mat-stroked-button style="color: black">Home</button>
            <button mat-stroked-button #ddTrigger="matMenuTrigger" [matMenuTriggerFor]="dd" style="color: black">
            Profile <i _ngcontent-fnv-c19="" class="material-icons icon-image-preview">arrow_drop_down</i></button> 
            
          </div>
          </mat-toolbar-row>
        </mat-toolbar>
        </div>