
  mat-toolbar{
    width:100%;
    height: 100px;
    position: fixed;
    top:0;
    z-index: 1000;
    left: 0;
    right: 0;
    background-color: black;
    
  }
  
  .header{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-image: url('/assets/background.jpg'); 
   /* //  color:white; */
  }
  .d-inline-block {
   width: 70px;
   height: 70px;
}
.title{
   color: aliceblue;
        font-size: 6vh;
        padding-left: 5px;
}
  
  .spacer {
    flex: 1 1 auto;
  }
  #menu{
      color: white;
  }
  button{
      color: white;
  }

  #container {
    width: 100%;
   /* //  height: 600px; */
    /* margin: auto; */
    padding-top: 80px;
    background: #fff;
 }
 /* .items {
    width: 500px;
    height: 600px;
    background: #ECECEC;
 } */
 .slides-wrapper {
    width: 100%;
 }
 img {
    width: 1500px;
    height: 490px;
   /* //  padding-top: 10px; */
 }
 #left,
 #right {
    /* margin: 10px; */
    height: 30px;
    width: 30px;
 }
 .tab{
    padding-top: 7%;
   /* //  background: url('../../assets/img/back.jpg') no-repeat center center fixed;
   //  height: 852px; */
 }
 .tab button{
    background-color: blue;
 }
 