/* You can add global styles to this file, and also import other style files */

html,
body {
/*    height: 100%;
    width: 100%;*/
    /*background-color: #f5f5f5;*/
    background-color: #E3E3DD;
   /* background-color:  #ffbb99;*/
    position:relative;
     /* background-image: url("/assets/background-fashion-design-2.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;*/
}

body {
    margin: auto;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

