.example-card{
    padding-top: 150px;
    padding-left: 60px;
    padding-bottom: 165px;
}
.example-container{
font-family: arial;
}
h6{
padding-top:20px;
}

mat-toolbar{
    width:100%;
    height: min-content;
    position: fixed;
    top:0;
    z-index: 1030;
    left: 0;
    right: 0;
    background-color: black;
    padding: 10px;
    padding-left: 5px;

  }
  mat-toolbar-row {
      height: min-content;
      display: flex;
      flex-wrap: wrap;
  }

  .header
  {
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      background-color: black;
       color:white;
  }
     .d-inline-block
      {
     width: 60px;
     height: 60px;
  }
  .title{
          font-size: 4vh;
          padding-left: 4px;
          /*color: #F4F6F7;*//*color: #F4F6F7;*/
                  padding-top: 8px;
                  font-family: 'Open Sans', sans-serif;
  }
    .spacer {
      flex: 1 1 auto;
    }
    #menu{
        color: white;
    }
    button{
        color: white;
    }
    p{
        padding-left: 20px;
    }

 /*mat-toolbar{
    width:100%;
    height: 100px;
    position: fixed;
    top:0;
    z-index: 1000;
    left: 0;
    right: 0;
    background-color: black;

  }

  .header{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color:white;
  }
  .d-inline-block {
   width: 70px;
   height: 70px;
}
.title{
   color: black;
        font-size: 6vh;
        padding-left: 5px;
}

  .spacer {
    flex: 1 1 auto;
  }
  #menu{
      color: white;
  }
  button{
      color: white;
  }
*/
