<div class="example-card">
    <mat-card-header>
      <mat-card-title>Manufacturer Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="example-container" >

          User Name: {{manufacture.name}} <br>

          Email Id: {{manufacture.email}}<br>

          Specification: {{manufacture.specifications}}<br>

          City: {{manufacture.city}}<br>

         Contact Number: {{manufacture.contact_number}}<br>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)=openDialog()>Edit</button>
       </mat-card-actions>
   </div>
