<app-header></app-header>

<div class="container-fluid" >
  <div class="row" id="join-us">
    <div class="col-5">
      <img id="join" src="assets/designer-image3.jpg">
    </div>
    <div class="col-7" id="joinus">
      <h3>About US</h3>
      <p>Founded recently with a powerful vision to infuse new life into the fashion system, TrendMode serves as a critical platform for multiple designer, working to empower emerging voices and facilitate industry exposure at no cost while simultaneously providing an indispensable tool for the industry.
        Our website connects designer, supplier, manufacturer and consumer in which designer uploads a design , select supplier and manufacturer according to his budget and preferences.</p><br>

      <p>Our website reflects the modern face of fashion by supporting thriving artists who choose to create anywhere and everywhere, emboldening creativity and connectivity by providing a platform where designers can engage with a global audience and showcase their work from any place.
      The world’s largest global community in the fashion industry will only continue to grow as TrendMode further leads the charge in empowering the future of fashion.</p>
      <h3>Welcome to TREND MODE.</h3>
    </div>
  </div>
</div>

s
