
.spacer {
    flex-grow: 1;
}


.medium-list {
    margin: auto;
    width: 350px;
    padding: 0.5%;
    padding-top: 10%;
    padding-bottom: 10%;
  }
     
  .list-viewer-wrapper {
    border: 1px solid rgba(0, 0, 0, .03);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
    margin: 4px;
  }
  
  .list-header-title {
    /* color: rgba(0, 0, 0, .54); */
    /* background: rgba(0, 0, 0, .03); */
    padding: 8px 20px;
    font-weight: bold;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
 
  .divider {
    margin-top: 10px !important; 
  }