<div class="visible-header">
  <mat-menu #dd="matMenu" [overlapTrigger]="false">
    <div class="dropdown"><br>
      <a  routerLinkActive="active"> <button mat-button color="primary" (click)="viewProfile()">View Profile</button><br></a>
      <a routerLink="/manufacturervieworders" routerLinkActive="active"><button mat-button color="primary">View Previous orders</button></a>
      <mat-divider></mat-divider>
      <button mat-button color="primary"><a routerLink = "/logout" routerLinkActive="active" >Logout</a></button>
    </div>
  </mat-menu>

  <div>
    <mat-toolbar class="header">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <img src="assets/logo.png" width="90" height="80" class="d-inline-block align-top" alt="App Logo">
        <span class="title">TrendMode</span>
        <span class="spacer"></span>
        <span>
                       <mat-form-field>
                         <input #searchText matInput placeholder="Search for products">
                       </mat-form-field>
                       <button mat-icon-button aria-label="icon-button with a search icon" (click)="search(searchText.value)">
                         <mat-icon>search</mat-icon>
                       </button></span>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a routerLink="/manufacturer" routerLinkActive="active" ><button mat-stroked-button>Home</button></a>
        <button mat-stroked-button #ddTrigger="matMenuTrigger" [matMenuTriggerFor]="dd">
          Profile <i _ngcontent-fnv-c19="" class="material-icons icon-image-preview">arrow_drop_down</i></button>

      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>
<div class="dummy">
  <mat-menu #dd="matMenu" [overlapTrigger]="false">
    <div class="dropdown"><br>
      <a  routerLinkActive="active"> <button mat-button color="primary" (click)="viewProfile()">View Profile</button><br></a>
      <a routerLink="/manufacturervieworders" routerLinkActive="active"><button mat-button color="primary">View Previous orders</button></a>
      <mat-divider></mat-divider>
      <button mat-button color="primary"><a routerLink = "/logout" routerLinkActive="active" >Logout</a></button>
    </div>
  </mat-menu>

  <div>
    <mat-toolbar class="header">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <img src="assets/logo.png" width="90" height="80" class="d-inline-block align-top" alt="App Logo">
        <span class="title">TrendMode</span>
        <span class="spacer"></span>
        <span>
                       <mat-form-field>
                         <input #searchText matInput placeholder="Search for products">
                       </mat-form-field>
                       <button mat-icon-button aria-label="icon-button with a search icon" (click)="search(searchText.value)">
                         <mat-icon>search</mat-icon>
                       </button></span>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a routerLink="/manufacturer" routerLinkActive="active" ><button mat-stroked-button>Home</button></a>
        <button mat-stroked-button #ddTrigger="matMenuTrigger" [matMenuTriggerFor]="dd">
          Profile <i _ngcontent-fnv-c19="" class="material-icons icon-image-preview">arrow_drop_down</i></button>

      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>


<div class="flex">
  <div  *ngFor="let order of receivedOrders">
    <mat-card class="tp-card" *ngIf ="order.orderStatus === 'accepted' || order.orderStatus === 'rejected' || order.orderStatus === 'completed' ">
      <mat-card-header>
        <div mat-card-avatar class="tp-header-image"></div>
        <mat-card-title><h5>Order ID: {{order.id}}</h5></mat-card-title>
        <mat-card-title><h5>Designer Name: </h5>{{order.designerName}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img style="height: 250px" mat-card-image src="assets/{{order.designImage}}" alt="Image of the design">
        <h5>Quantity of Design: </h5>{{order.quantityOfDesign}}
        <h5>Order Status:</h5>{{order.orderStatus}}
      </mat-card-content>
      <mat-card-actions *ngIf="order.orderStatus === 'accepted'">
        <button mat-raised-button color="primary" (click)="complete(order)">Completed</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>


