<mat-menu #dd="matMenu" [overlapTrigger]="false">
  <div class="dropdown"><br>
    <button mat-button color="primary"><a routerLink="/manufactureviewprofile" routerLinkActive="active" >View Profile</a></button><br>

    <button mat-button color="primary"><a routerLink="/manufacturervieworders" routerLinkActive="active" >View Previous orders</a></button><br>
    <mat-divider></mat-divider>
    <button mat-button color="primary"><a routerLink = "/logout" routerLinkActive="active" >LogOut</a></button>
  </div>
</mat-menu>

<div>
  <mat-toolbar class="header">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <img src="assets/logo.jpeg" width="60" height="60" class="d-inline-block align-top" alt="App Logo">
      <span class="title">TrendMode</span>
      <span class="example-spacer"></span>
      <span class="spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
                   <span>
                       <mat-form-field>
                         <input #searchText matInput placeholder="Search for products">
                       </mat-form-field>
                       <button mat-icon-button aria-label="icon-button with a search icon" (click)="search(searchText.value)">
                         <mat-icon>search</mat-icon>
                       </button></span>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a routerLink="/suppliers" routerLinkActive="active" ><button mat-stroked-button>Home</button></a>
        <button mat-stroked-button #ddTrigger="matMenuTrigger" [matMenuTriggerFor]="dd">
          Profile <i _ngcontent-fnv-c19="" class="material-icons icon-image-preview">arrow_drop_down</i></button>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>


<div class="flex">
  <mat-card class="tp-card" *ngFor="let order of receivedOrders">
    <div *ngIf ="order.orderStatus === 'accepted' || order.orderStatus === 'rejected' ">
      <mat-card-header>
        <div mat-card-avatar class="tp-header-image"></div>
        <mat-card-title><h4>Order ID: {{order.id}}</h4></mat-card-title>
        <mat-card-subtitle><h3>Designer Name:{{order.designerName}}</h3></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h3>Order Category</h3>{{order.material.category}}
        <h3>The material required is: </h3>{{order.material.name}}
        <h3>Quantity: </h3>{{order.quantity}}
        <h3>Order Status:</h3>{{order.orderStatus}}
      </mat-card-content>
    </div>
  </mat-card>
</div>


