<div class="jumbotron" id="jumbotron1">
    <div class="container">

        <h2>Designer</h2>

        <h3>Designer can design and without any difficulty, he/she can easily find supplier and manufacturer</h3>
    </div>
</div>
<div class="jumbotron">
    <div class="container">

        <h2>Supplier</h2>

        <h3>Supplier can provide the required material to the designer when ordered based on his interest</h3>
    </div>
</div>
<div class="jumbotron" id="jumbotron3">
    <div class="container">

        <h2>Manufacturer</h2>

        <h3>Manufacturer makes the product from the design given by the designer with the supplied material</h3>
    </div>
</div>