.navbar{
  color:#7e57c2;
}

    .nav-item {
        font-size: 4vh;
        padding: 0;
    }

    #title {
        /* font-family: 'Zhi Mang Xing', cursive; */
        font-size: 4vh;
        padding-top: 15px;
        padding-left: 4px;
        color: #F4F6F7;
        font-family: 'Open Sans', sans-serif;

    }

    .d-inline-block {
       padding-right: 5px;
    }
.about{
    padding-right:70px;
}

    .abc
    {
      float:left;
    }

    a {
        text-decoration: none;
        color: black;
        color: ghostwhite;
    }

   #bodu{
        background: black;
        height: 91px;
        /*background-image: url('/assets/background.jpg'); navbar-light bg-light*/
    }
