    .nav-item {
        font-size: 4vh;
        padding: 0;
    }
    
    #title {
        /* font-family: 'Zhi Mang Xing', cursive; */
        color: black;
        font-size: 5vh;
        padding-left: 5px;
        color: ghostwhite; 
    }
    
    .d-inline-block {
        width: 70px;
        height: 70px;
    }
    
    .buttons {
        float: left;
        color: ghostwhite;
        /* width: 1%; */
        /* padding-left: 40px; */
        /* padding-right: 40px; */
    }
    
    .button3 {
        float: left;
        color: ghostwhite;
    }
    
    a {
        text-decoration: none;
        color: black;
        color: ghostwhite;
    }
    #bodu{
        background-image: url('/assets/background.jpg'); 
    }