<!-- Navigation bar -->
<nav class="navbar fixed-top navbar-expand-lg " id="bodu">
    <img src="assets/logo.jpeg" width="60" height="60" class="d-inline-block align-top" alt="App Logo">
    <div>
        <p id="title">TrendMode</p>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 50%;">


        <div class="about">
             <a routerLink="/about" routerLinkActive="active" > About us </a>
        </div>

        <div >
          <a routerLink="/login" routerLinkActive="active" >Login</a>
        </div>
      </div>


</nav>
