<section class="hero is-info is-fullheight is-bold">
    <div class="hero-body">
        <div class="container">

            <h1 class="title"> <img src="assets/image1.jpg" /></h1>

        </div>
    </div>
</section>
<div class="jumbotron">
    <div class="container">
        <h1 id="text1">Get the best from the best designer with the best deal</h1>
        <img src="assets/clothes.jpg" />
        <h1 id="text2">Make your life colourful with the new colourful branded fashion</h1>
        <img src="assets/wear.jpg" />
        <h1 id="text3">We don't do fashion. We are fashion</h1>
        <img src="assets/family.jpg" />

    </div>
</div>