<mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Forgot Password</mat-card-title>
        </mat-card-header>
        <p>Please enter your email address below and we will send you information to change your password.</p>
        <mat-card-content>
          <form class="example-form">
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                  <input matInput placeholder="Email" [(ngModel)]="emailid" name="Email" required>
                  </mat-form-field>
                </td>
              </tr>
          </table>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="reset()" color="primary">RESET</button>
        </mat-card-actions>
       
      </mat-card>
