.example-card {
  width: 300px;
  box-sizing: border-box;
  padding: 20px;
  margin: 20px;
  display: inline;
  background-size: contain;
  background: no-repeat center center;
  position: relative;
  min-height: 250px;
}
.mat-card-image {
  max-height: 300px;
}
.product-price {
  text-decoration: line-through;
  font-size: 15px;
}
.product-discounted {
  font-size: 18px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 100px;
  margin-top: 120px;
}
.cart-button{
  position: fixed;
  top:0;
  margin-top: 120px;
  right: 0;
  margin-bottom: 20px;
  margin-right: 20px;
  font-size: 20px;
  padding: 10px;
}

mat-form-field{
  width: stretch;
}
