<mat-menu #dd="matMenu" [overlapTrigger]="false">
  <div (click)="cancelClick($event)" class="dropdown"><br>
    <a routerLink="/manufactureviewprofile" routerLinkActive="active"> <button mat-button color="primary">View Profile</button><br></a>
    <a routerLink="/manufacturervieworders" routerLinkActive="active"><button mat-button color="primary">View Previous orders</button></a>
    <mat-divider></mat-divider>
    <a routerLink = "/logout"  routerLinkActive="active"><button mat-button color="primary">LogOut</button></a>
  </div>
</mat-menu>

<div>
  <mat-toolbar class="header" >
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <img src="assets/logo.jpeg" width="60" height="60" class="d-inline-block align-top" alt="App Logo">
      <span class="title">TrendMode</span>
      <span class="example-spacer"></span>
      <span class="spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
                   <span>
                       <mat-form-field>
                         <input #searchText matInput placeholder="Search for products">
                       </mat-form-field>
                       <button mat-icon-button aria-label="icon-button with a search icon" (click)="search(searchText.value)">
                         <mat-icon>search</mat-icon>
                       </button></span>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a routerLink="/manufacturer" routerLinkActive="active"><button mat-stroked-button>Home</button></a>
        <button mat-stroked-button #ddTrigger="matMenuTrigger" [matMenuTriggerFor]="dd">
          Profile <i _ngcontent-fnv-c19="" class="material-icons icon-image-preview">arrow_drop_down</i></button>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>


      <app-addmaterialsbutton></app-addmaterialsbutton>

   <div class="flex">
    <div *ngFor="let order of receivedOrders">
      <mat-card class="tp-card" *ngIf ="order.orderStatus === 'in-progress'">
        <mat-card-header>
           <div mat-card-avatar class="tp-header-image"></div>
           <mat-card-title><h5>Order ID: {{order.id}}</h5></mat-card-title>
           <mat-card-subtitle><h5>Designer Name:</h5>{{order.customer_name}}</mat-card-subtitle>
         </mat-card-header>
           <mat-card-content>
<!--              <h5>The material required is: </h5>{{order.material}}-->
               <h5>Quantity: </h5>{{order.quantity}}
           </mat-card-content>
           <mat-card-actions>
              <button mat-raised-button color="primary" (click)="accept(order)">Accept</button>
              <button mat-raised-button color="primary" (click)="reject(order)">Reject</button>
           </mat-card-actions>
      </mat-card>
     </div>
   </div>

     <!-- <mat-card class="tp-card">
      <mat-card-header>
         <div mat-card-avatar class="tp-header-image"></div>
         <mat-card-title><h4>Order ID: 123</h4></mat-card-title>
         <mat-card-subtitle><h3>Designer Name: Designer</h3></mat-card-subtitle>
       </mat-card-header>
         <mat-card-content>
            <h3>The material required is: Cotton </h3>
             <h3>Quantity: 4 </h3>
         </mat-card-content>
         <mat-card-actions>
            <button mat-button>Accept</button>
            <button mat-button>Reject</button>
         </mat-card-actions>
   </mat-card>
   -->
